/**
 * directory-listing.css
 *
 * ldap_listing
 */

/* Directory page */

.ldap-listing-directory {

}

.ldap-listing-directory__top-matter {
  margin: 30px 7.5%;
}

.ldap-listing-directory__search-box-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.ldap-listing-directory__search-box {
  flex: 1;
}

.ldap-listing-directory__search-results {
  padding: 10px;
  margin: 15px 0;
  border: 3px solid #eee;
  border-radius: 10px;
}

.ldap-listing-directory__search-results:empty {
  visibility: hidden;
  margin: 0;
}

.ldap-listing-directory__search-result-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px dotted #eee;
  margin: 5px 0 0 0;
  padding: 0 0 5px 0;
}

.ldap-listing-directory__search-result-row:last-child {
  border-bottom: none;
}

.ldap-listing-directory__search-result-cell {
  flex: 1;
}

.ldap-listing-directory__preamble {
  font-style: italic;
}

.ldap-listing-directory__sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ldap-listing-directory__section {
  flex: 1 0 50%;
}

.ldap-listing-directory__bottom-message {
  margin: 35px 0 0 0;
  text-align: right;
  font-style: italic;
}

/* Directory section field */

.ldap-listing-field {

}

/* Directory section */

.ldap-listing-section {

}

.ldap-listing-section__inner {
  margin: 5px;
}

.ldap-listing-section__heading {
  background-color: #eee;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.ldap-listing-section__heading-abbrev {
  font-size: 1.25rem;
}

.ldap-listing-section__header-footer {
  margin: 15px 0 15px 25%;
  display: table;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
}

.ldap-listing-section__header-footer-entry {
  display: table-row;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
  border-bottom: 1px solid #eee;
}

.ldap-listing-section__header-footer-entry:last-child {
  border-bottom: none;
}

.ldap-listing-section__header-footer-entry-item {
  display: table-cell;
  padding: 0 5px 0 5px;
}

.ldap-listing-section__header-footer-entry-item--nowrap {
  white-space: nowrap;
}

.ldap-listing-section__header-footer-entry-item:first-child {
  font-weight: bold;
}

.ldap-listing-section__body {
  margin: 7.5px;
}

.ldap-listing-section__body-error {
  padding: 2em;
  background-color: #eb8d8d;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 18px;
  border-radius: 0.5em;
}

.ldap-listing-section__body-empty {
  padding: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 18px;
}

.ldap-listing-section__user-entry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.ldap-listing-section__user-entry:last-child {
  border-bottom: none;
}

.ldap-listing-section__user-entry-item {
  flex: 1 0;
}

.ldap-listing-section__user-entry-item--phone {
  text-align: right;
}

.ldap-listing-section__user-entry-item--name {
  display: flex;
  align-items: center;
}

/* Mail Link */

.ldap-listing-mail-link {
  position: relative;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.ldap-listing-mail-link__anchor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
  padding: 0 4px;
  font-size: 28px;

  /* Anticipate common styles to require clearing */
  text-decoration: none;
  border-bottom: none;
}

.ldap-listing-mail-link__anchor:hover {
  /* Anticipate common styles to require clearing */
  text-decoration: none;
  border-bottom: none;
}

.ldap-listing-section__user-entry:hover .ldap-listing-mail-link__anchor,
.ldap-listing-directory__search-result-row:hover .ldap-listing-mail-link__anchor {
  visibility: visible;
}
