/**
 * directory-listing.css
 *
 * ldap_listing
 */

.ldap-listing-directory-listing {

}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
{
  margin: 30px 0 30px 0;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-box-wrapper
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-box-wrapper
  > .directory-listing-search-box
{
  flex: 0 0 85%;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-results
{
  padding: 10px;
  margin: 15px 7.5% 0 7.5%;
  border: 3px solid #eee;
  border-radius: 10px;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-results:empty
{
  visibility: hidden;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-results
  > .directory-listing-search-result-row
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px dotted #eee;
  margin: 5px 0 0 0;
  padding: 0 0 5px 0;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-results
  > .directory-listing-search-result-row:last-child
{
  border-bottom: none;
}

.ldap-listing-directory-listing
  > .directory-listing-top-matter
  > .directory-listing-search-results
  > .directory-listing-search-result-row
  > .directory-listing-search-result-cell
{
  flex: 0.25;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
{
  flex: 1 0 50%;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  > .directory-listing-section
{
  margin: 5px;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .heading,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .heading
{
  background-color: #eee;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
{
  margin: 15px 0 15px 25%;
  display: table;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer
  > .entry,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
{
  display: table-row;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
  border-bottom: 1px solid #eee;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer
  > .entry:last-child,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
  > .entry:last-child
{
  border-bottom: none;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item
{
  display: table-cell;
  padding: 0 5px 0 5px;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item.nowrap,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item:nowrap
{
  white-space: nowrap;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item:first-child,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .header-footer
  > .entry
  > .entry-item:first-child
{
  font-weight: bold;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .body,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .body
{
  margin: 7.5px;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .body
  > .user-entry,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .body
  > .user-entry
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #eee;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .body
  > .user-entry:last-child,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .body
  > .user-entry:last-child
{
  border-bottom: none;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .body
  > .user-entry
  > .user-entry-item,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .body
  > .user-entry
  > .user-entry-item
{
  flex: 1 0 33.33%;
}

.ldap-listing-directory-listing
  > .directory-listing-sections
  > .directory-listing-section-wrapper
  .body
  > .user-entry
  > .phone,
.ldap-listing-directory-listing-field
  > .directory-listing-section-wrapper
  .body
  > .user-entry
  > .phone
{
  text-align: right;
}

.ldap-listing-directory-listing
  > .directory-listing-bottom-message
{
  margin: 35px 0 0 0;
  text-align: right;
  font-style: italic;
}
